.mainPage{
    /* background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../images/cosmos-5809271_1920.png'); */
    color:#ffffff;
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    padding: 10%;
    padding-bottom: 30%;

    margin: 0;
}

/* .blur-bg{
    backdrop-filter: blur(40px);
} */

#halozen{
    margin-top: 15px;
    color: #5D68E0;
    background-color: azure;
    padding: .2rem;
    border-radius: 10px;
}
.pageCreate{
    color:#ffffff;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 10%;
}
.card-body {
    /* color: #ffffff; */
    color: black;
    /* background-color:; */
}
#checkBtn{
    background-color: #5f5fce;
    color: white;
}
.card{
    border-radius:5%;
    background-color: #c2afd1;
    
}