.postBody{
    /* padding: 10%; */
    color: #ffffff;
    /* background-image: url(../images/blackBoard.jpg); */
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 110vh;
}

body {
    margin: auto;
    padding:0;
}